@{ 
    bool error = false;

    Validation.RequireField("book", "You must enter a book");
    Validation.RequireField("chapter", "You must enter a chapter");
    Validation.RequireField("verse", "You must enter a verse");

    if (IsPost)
    {
        if (Validation.IsValid())
        {
            var book = Request.Form["book"];
            var chapter = Request.Form["chapter"];
            var verse = Request.Form["verse"];
            var note = Request.Form["note"];

            var db = Database.Open("MegaDeskData");
            var insertCommand = "INSERT INTO Scriptures (book, chapter, verse, note) VALUES(@0, @1, @2, @3)";
            db.Execute(insertCommand, book, chapter, verse, note);

            Response.Redirect("~/MsgPage.cshtml?msg=Save Successful!&url=/");
        }
        else
        {
            error = true;
        }
    }
}

<!DOCTYPE html>
<html>
<head>
    <title>Add Scripture</title>

    @RenderPage("~/Shared/HeaderHead.cshtml")
</head>
<body>
    @RenderPage("~/Shared/Header.cshtml", new { Title = "Mega Desk - Add Quote" })
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-lg-6">
                @RenderPage("~/Shared/QuoteForm.cshtml");
            </div>
        </div>
    </div>

    <script>
        (function () {
            let textarea = document.querySelector("textarea[name='note']");
            let charCount = document.getElementById("used-char");
            let baseVal = textarea.maxLength;
            function updateCharCount() {
                let newVal = textarea.textLength;
                charCount.innerText = newVal + "/" + baseVal;

                // Colors!
                charCount.classList.remove("text-warning", "text-danger", "text-muted");
                if (newVal / baseVal > .9) {
                    charCount.classList.add("text-danger")
                } else if (newVal / baseVal > .75) {
                    charCount.classList.add("text-warning")
                } else {
                    charCount.classList.add("text-muted")
                }
            }
            textarea.addEventListener("input", updateCharCount);
            updateCharCount();
            document.getElementById("base-val").innerText = baseVal;
        })();
    </script>
</body>
</html>
