@using MegaDesk
@{
    bool error = false;
    string errorMsg = null;
    int id = 0;
    try
    {
        id = int.Parse(Request.QueryString["id"]);
    }
    catch
    {
        Response.Redirect("~/MsgPage.cshtml?msg=Invalid ID&url=/");
    }

    Validation.RequireField("customer_name", "Required");
    Validation.RequireField("width", "Required");
    Validation.Add("width", Validator.Integer("Must be a number"));
    Validation.Add("width", Validator.Range(24, 96, "Must be between 24 and 96."));
    Validation.RequireField("depth", "Required");
    Validation.Add("depth", Validator.Integer("Must be a number"));
    Validation.Add("depth", Validator.Range(12, 48, "Must be between 12 and 48."));
    Validation.RequireField("num_drawers", "Required");
    Validation.Add("num_drawers", Validator.Integer("Must be a number"));
    Validation.Add("num_drawers", Validator.Range(0, 7, "Must be less than 8."));
    Validation.RequireField("material", "Required");
    Validation.Add("rush_options", Validator.Regex("^(3|5|7|14)", "Must be 3, 5, 7, or 14"));

    string view_customerName = "";
    string view_quoteAmount = "";
    string view_width = "";
    string view_depth = "";
    string view_numDrawers = "";
    string view_material = "";
    string view_productionDays = "";
    string view_quoteDate = "";

    if (IsPost)
    {
        if (Validation.IsValid())
        {
            var customer_name = Request.Form["customer_name"];
            int width = int.Parse(Request.Form["width"]);
            int depth = int.Parse(Request.Form["depth"]);
            int num_drawers = int.Parse(Request.Form["num_drawers"]);
            var material = (MegaDesk.Desk.DeskMaterial)int.Parse(Request.Form["material"]);
            int rush_options = int.Parse(Request.Form["rush_options"].IsEmpty() ? "14" : Request.Form["rush_options"]);

            try
            {
                var dq = new MegaDesk.DeskQuote(customer_name, width, depth, num_drawers, material, rush_options);

                var db = Database.Open("MegaDeskData");
                var insertCommand = "UPDATE DeskQuotes" +
                                    "   SET customer_name = @0" +
                                    "     , width = @1" +
                                    "     , depth = @2" +
                                    "     , num_drawers = @3" +
                                    "     , material = @4" +
                                    "     , production_days = @5" +
                                    "     , quote_amount = @6" +
                                    " WHERE id = @7";
                db.Execute(insertCommand, customer_name, width, depth, num_drawers, material, rush_options, dq.QuoteAmount, id);

                Response.Redirect("~/MsgPage.cshtml?msg=Save Successful!&url=/");
            }
            catch (Exception ex)
            {
                error = true;
                errorMsg = ex.Message;
            }
        }
        else
        {
            error = true;
        }
    }
    else
    {
        var db = Database.Open("MegaDeskData");
        var queryStr = "SELECT id" +
                        "    , customer_name " +
                        "    , quote_amount " +
                        "    , width " +
                        "    , depth " +
                        "    , num_drawers " +
                        "    , material " +
                        "    , production_days" +
                        "    , quote_date " +
                        "FROM  DeskQuotes " +
                        "WHERE id = @0";

        var deskQuote = db.QuerySingle(queryStr, id);

        view_customerName = deskQuote["customer_name"];
        view_width = deskQuote["width"].ToString();
        view_depth = deskQuote["depth"].ToString();
        view_numDrawers = deskQuote["num_drawers"].ToString();
        view_material = deskQuote["material"].ToString();
        view_productionDays = deskQuote["production_days"].ToString();
    }

    var pageObj = new
    {
        showError = error,
        errorMsg = errorMsg,
        customerName = Request.Form["customer_name"].IsEmpty() ? view_customerName : Request.Form["customer_name"],
        width = Request.Form["width"].IsEmpty() ? view_width : Request.Form["width"],
        depth = Request.Form["depth"].IsEmpty() ? view_depth : Request.Form["depth"],
        numDrawers = Request.Form["num_drawers"].IsEmpty() ? view_numDrawers : Request.Form["num_drawers"],
        material = Request.Form["material"].IsEmpty() ? view_material : Request.Form["material"],
        rushOptions = Request.Form["rush_options"].IsEmpty() ? view_productionDays : Request.Form["rush_options"]
    };
}

<!DOCTYPE html>
<html>
<head>
    <title>Add Quote</title>

    @RenderPage("~/Shared/HeaderHead.cshtml")
</head>
<body>
    @RenderPage("~/Shared/Header.cshtml", new { Title = "Mega Desk - Add Quote" })
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-lg-6">
                @RenderPage("~/Shared/QuoteForm.cshtml", pageObj)
            </div>
        </div>
    </div>
</body>
</html>
