@using MegaDesk;
@{
    
}

<!DOCTYPE html>
<html>
<head>
    <title>View Quote</title>

    @RenderPage("~/Shared/HeaderHead.cshtml")
</head>
<body>
    @RenderPage("~/Shared/Header.cshtml", new { Title = "View Quote" })
    <section class="container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </section>
</body>
</html>
