body {
    font-family: 'Roboto';
}

header{
    margin: 0 0 30px;
}

.search {
    margin-bottom: 20px;
}

.quotes .header-tr a {
    color: #fff;
}
.quotes tr:hover {
    cursor: pointer;
}
.quotes .pager > td {
    text-align: center;
}
.quotes tr > th:first-child, 
.quotes tr > td:first-child {
    display: none; /*Hide's the ID column*/
}