<header class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="~/MegaDesk.png" width="30" height="30" class="d-inline-block align-top" alt="">
            @Page.Title
        </a>
    </div>
</header>